body {
  /* margin-left: 25%;
  margin-right: 25%; */
  margin: auto 0;
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
}

header{
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

label {
  display: inline-block;

}

input, select {
  border: 1px solid #AAA;
  border-radius: 5px;
  margin-top: 5px;
  height: 44px;
  width: 94%;
  padding-left: 5%;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

/* #create, #assets, #execution{
  margin: auto 0;
  text-align: center;
  padding-top: 20px;
} */

#checkSwitch{
  margin: auto 0;
  text-align: center;
  padding-top: 20px;
}

#bttn{
  margin-top: 5px;
}

#createFooter, #assetsFooter, #executionFooter, #overviewFooter, #editSwicthFooter {
  height: 12%;
  bottom: 1px;
  position: fixed;
  text-align: center;
  background-color: white;
  width: 100%;
  display: none;
}

#dots {
  color:#f0f0f0;
  align-self: center;
  margin: 3px;
}

.logo-style {
  width: 33%; 
  padding-left: 2%;
}

.nav-menu-items {
  width: 33%;
  display: flex; 
  justify-content:space-evenly;
}

.menu-item {
  cursor: pointer;
}

.metamask-wrapper {
  width: 33%; 
  display: flex; 
  justify-content: flex-end; 
  padding-right: 3%;
}

.connect-metamask-box {
  display: flex; 
  justify-content: center; 
  height: 5vh; 
  width: 170px; 
  border: 1px solid #AAA; 
  border-radius: 5px; 
  cursor: pointer;
}

.metamask-image {
  width: 25px; 
  height: 25px; 
  align-self: center; 
  margin-right: 10px;
}

.metamask-button-text {
  align-self:center; 
  font-weight: bold; 
  font-size: 13px;
}
.wallet-box {
  display: none; 
  height: 40px; 
  border: 1px solid #AAA; 
  border-radius: 5px; 
  cursor: pointer;
}

.wallet-image {
  width: 25px; 
  height: 25px; 
  align-self: center; 
  margin-right: 10px; 
  margin-left: 10px;
}

.wallet-address-box {
  align-self: center; 
  font-weight: bold; 
  font-size: 15px;
}

.wallet-balance-box {
  align-self: center; 
  background-color: #f0f0f0; 
  border-radius: 15px; 
  margin: 0 10px 0 20px; 
  padding-left: 10px; 
  padding-right: 10px; 
  font-weight: bold; 
  font-size: 15px;
}

.dashboard-box {
  background-color: #f0f0f0; 
  min-height: 100vh; 
  padding-left: 15%; 
  padding-right: 15%; 
  padding-top: 3.5%;
}

.dashboard-content {
  background-image: url("/bg.png"); 
  height: 12%; 
  display: flex; 
  justify-content: space-between; 
  border-radius: 5px; 
  margin-bottom: 5%;
}

.welcome-text {
  width: 300px;
}

.nice-text-class {
  font-size: 18px; 
  margin-bottom: 1%; 
  margin-left: 10%; 
  color: #fff; 
  font-weight: bold;
}

.active-switches-class {
  font-size: 11px; 
  margin-left: 10%; 
  color: #fff; 
  margin-top: 0%;
}

.create-switch-button-box {
  width: 30%; 
  display: flex; 
  justify-content: flex-end; 
  padding-right: 3%;
}

.button-primary {
  height: 40px;
  width: 170px;
  font-size: 13px;
  font-weight: bold;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: #00ffae;  
  cursor: pointer;
}

.button-secondary {
    background-color: #fff;
    text-decoration: underline;
    outline: none;
}
.central-wrapper {
    display: none;
    /* background-color: #f0f0f0; */
    /* height: 100vh; */
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    margin-bottom: 10%;
    flex-direction: row;
}
.overview {
  display: none;
  padding-left: 15%;
  padding-right: 15%;
  /* padding-bottom: 5%; */
  padding-top: 5%;
  /* background-color: #f0f0f0; */
}
.overview-wrapper {
    display: none;
    background-color: #f0f0f0;
    height: auto;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: -15px;
    /* padding-bottom: 5%; */
    /* border-bottom: 1px solid gray; */
}
.temporary-padding {
  padding-bottom: 10%;
}
.left-wrapper {
    /* display:flex;
    flex-direction: column; */
    /* width: 50%; */
    flex: 50%;
    padding-top: 10%;
    max-width: 450px;
}

.right-wrapper {
    padding-top: 12%;
    margin-left: 30px;
    flex: 50%;
    max-width: 450px;
}

.form-box {
    /* width: 350px; */
    background-color: white;
    border-radius: 5px;
    /* border:1px solid #AAA; */
    padding: 5%;
    margin-bottom: 3%;
}

.text-up-header {
    text-align: left;
    color: #AAA;
    font-size: 13px;
    font-weight: 700
}

.content-title {
    text-align: left;
    font-weight: 1000;
    padding: 5px 0 10px 0;
    font-size: 30px
}

.central-text {
    text-align: left;
    color: #AAA;
    font-weight: bold;
    font-size: 13px;
}

.form-element-header {
    margin: auto;
    text-align: left;
    font-weight: bold;
    font-size: 11px;
}

.form-element-subheader {
    margin: auto;
    text-align: left;
    color: #AAA;
    font-weight: bold;
    font-size: 11px;
}

.select-wrapper {
  display: flex; 
  justify-content: space-between;
}

.expire-date {
  margin: auto; 
  text-align: left; 
  color: #1c22ff; 
  font-weight: bold; 
  font-size: 11px;
}

.select-element {
    width: 42%;
    background-color: #fff;
    font-size: 13px;
    padding: 6px;
    height: 48px;
}
/* #period #autoManual .ss-content .ss-search input {
  display: none;
} */
.select-element-tokens {
  width: 42%;
  background-color: #fff;
  font-size: 13px;
  height: 48px;
  padding-bottom: 12px;
  padding-top: 6px
}

.ss-main {
  color: black;
  font-weight: 400;
}
.ss-main .ss-single-selected {
    height: 48px;
    padding: 8px;
    border: 1px solid #AAA;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}
.ss-content .ss-list .ss-option.ss-highlighted, .ss-content .ss-list .ss-option:hover {
  color: #fff;
  background-color: #AAA;
}
.options-wrapper {
    display: flex;
    margin-bottom: 30px;
}
.ss-main .ss-single-selected.ss-disabled {
  background-color: #ffffff;
  cursor: not-allowed
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 15px;
}

.option {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 40px;
    background-color: lightgray;
    border-radius: 10%;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
    line-height: 16px;
    font-weight: bold;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #00ffae;
}

/* Show the indicator (dot/circle) when checked */
.container .option ~ .checkmark:after {
    display: block;
}

.notification-box {
    color: blue;
    align-self: center;
    font-size: 11px;
    padding: 10px;
    font-weight: bold;
}

.fa-info {
    color: blue;
    padding: 10px 0 0 10px;
}

.approve-eth-button {
  border: none; 
  border-radius: 5px; 
  background-color: #e8e8e8; 
  height: 30px; 
  font-size: 11px; 
  width: 100%; 
  font-weight: bold; 
  outline: none; 
  align-self: center;
  cursor: pointer;
}
.delete-assets-button, .approve-asset-button {
  border: none; 
  border-radius: 5px; 
  background-color: #e8e8e8; 
  height: 30px; 
  font-size: 11px; 
  width: 40%; 
  font-weight: bold; 
  outline: none; 
  align-self: center;
  cursor: pointer;
}

.new-asset-button {
  width: auto; 
  height: 45px; 
  border-radius: 5px; 
  border:1px dashed #aaa; 
  background-color: #f5f5f5; 
  margin-top: 3%; 
  display: flex; 
  cursor: pointer;
}

.new-asset-button h5 {
  margin-left: 5%; 
  align-self: center;
}

/* .token-tarnsaction {
  display: flex;
}

.token-tarnsaction p {
  font-weight: bold;
} */

.notification-message-box {
  background-color: #9ef7dd; 
  border-radius: 5px; 
  display: flex;
}

.footer-flex-start-class {
  width: 50%; 
  display: flex; 
  justify-content: flex-start; 
  padding-left: 15%;
}

.footer-flex-end-class {
  width: 50%; 
  display: flex; 
  justify-content: flex-end; 
  padding-right: 15%;
}
.footer-flex-end-class-overview {
  display: flex; 
  justify-content: flex-end; 
  padding-right: 15%;
  width: 100%;
}

.asset-buttons {
  display: flex;
  justify-content: space-between;
}

.add-new-asset {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.add-new-asset::-webkit-scrollbar {
  display: none;
}

/* .add-new-asset {
-ms-overflow-style: none; 
scrollbar-width: none;  
} */

.switch, .received-switch {
  height: 40%;
  border-radius: 5px;
  padding: 3%;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.content {
  display: flex;
  margin-bottom: 15px;
}
.left-content {
  flex: 50%;
}
.left-content-up {
  display: flex;
  /* height: 50%; */
}
.assets, .expires-in {
  height: 100%;
  width: 50%;
}
/* .total-value {

} */
.assets p, .expires-in p, .total-value p, .received-assets p, .received-total-value p, .received-expires-in p{
  color: #AAA;
  font-size: 13px;
}
/* .right-content {
  display: flex;
  flex-direction: column;
  flex: 50%;
} */
.executor, .benefitor{
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  height: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.cont-wprp {
 padding: 15px;
}
.right-content-title {
  font-size: 10px;
  color: rgb(99, 99, 99);
  margin-top: -10px;
  margin-bottom: 5px;
}
.switch-address-wrap {
  display: flex;
  margin-top: 3px;
}
.switch-address-image {
  width: 25px;
  height: 25px;
  align-self: center;
  margin-right: 10px;
}
.addresses {
  font-size: 12px;
}
.switch-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.button-terciary {
  height: 40px;
  width: 170px;
  font-size: 13px;
  font-weight: bold;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: #dddfde;  
  cursor: pointer;
}
/* .switch-tabs {
  margin-bottom: 30px;
} */
.tabs {
  border-bottom: 1.5px solid rgb(99, 99, 99);
  padding-bottom: 5px;
  margin-bottom: 25px;
}
.tablinks-nav {
  margin-right: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
}
.blue-undeline {
  border-bottom: 3px solid #10159C
}
.upper-content {
  display: flex;
  flex: 50%;
  margin-bottom: 35px;
}

.received-assets, .received-total-value, .received-expires-in {
  height: 100%;
  width: 25%;
}
.down-content {
display: flex;
justify-content: space-between;
}
.execute-button-received {
 margin-top: 10px;
}
/* #mySwitchData, #myReceivedSwitchData {
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#mySwitchData::-webkit-scrollbar, #myReceivedSwitchData::-webkit-scrollbar {
  display: none;
}

#mySwitchData, #myReceivedSwitchData {
-ms-overflow-style: none; 
scrollbar-width: none;  
} */
#mySwitchData, #myReceivedSwitchData {
  padding-bottom: 45px;
}
.tok-wrapp {
  display:flex; 
  flex-direction:row;
}
.tok {
padding-left: 5px;
}

.radio-checkmark, .radio-checkmark-rec {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 30px;
  background-color: lightgray;
  border-radius: 10%;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  line-height: 16px;
  font-weight: bold;
}

 input[class*="radio-option"], input[class*="radio-option-rec"]{
  border: 1px solid #AAA;
  border-radius: 5px;
  height: auto;
  padding-left: 5%;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.box, .box-rec  {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 22px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-option, .radio-option-rec {
  opacity: 0;
  cursor: pointer;
}

.active {
  background-color: #00ffae !important;
}
.totalCoinsValueClass, .timeBold {
  font-weight: bold;
}

