body {
  margin-left: 25%;
  margin-right: 25%;
  margin: auto 0;
  font-family: "Poppins", sans-serif;
}

header{
  display: flex;
  align-items: center;
}

label {
  display: inline-block;
 
}

input, select {
  border: 1px solid #AAA;
  border-radius: 5px;
  margin-top: 5px;
  height: 50px;
  width: 95%;
  padding-left: 5%;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

#create{
  margin: auto 0;
  text-align: center;
  padding-top: 20px;
}

#checkSwitch{
  margin: auto 0;
  text-align: center;
  padding-top: 20px;
}

#bttn{
  margin-top: 5px;
}

#createFooter, #assetsFooter, #executionFooter {
  height: 12%;
  bottom: 1px;
  position: fixed;
  text-align: center;
  background-color: white;
  width: 100%;
  display: none;
}

#dots {
  color:#f0f0f0; 
  align-self: center; 
  margin: 3px;
}